/* buttons.css */

/* Estilos para los botones de acción en las tarjetas */
.icon-button {
    border: none; /* Eliminar el borde extra */
    box-shadow: none; /* Eliminar sombra extra */
    padding: 0.375rem 0.75rem; /* Ajustar padding para que el ícono se vea bien */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: #212529;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
    color: #fff;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    color: #fff;
  }
  