/* buttons.css */



/* Botones de estilo específico */
.btn-warning {
  background-color: #ffc107;
  color: #212529;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-warning:hover {
  background-color: #e0a800;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
  color: #fff;
}

.btn-reserva {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%;
}

.btn-reserva:hover {
  background-color: #0056b3;
}

.btn-success {
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #218838;
}


/* Posición de botones en la tarjeta */
.card-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

/* Botones de acciones generales */
.action-buttons a,
.card-buttons a {
  padding: 6px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.btn-view {
  background-color: #17a2b8;
}

.btn-edit {
  background-color: #ffc107;
}

.btn-delete {
  background-color: #dc3545;
}

.action-buttons a:hover,
.card-buttons a:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(73, 73, 73);
  background-color: aliceblue;
}
