/* Estilos para las tarjetas de Talleres y Clases Particulares */
.taller-card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Comienza el contenido desde arriba */
    align-items: center;
    height: auto;
    max-width: 100%;
    padding: 15px;
    background-color: #f8f9fa;
    text-align: center;
}

.taller-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.taller-card .card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.taller-card .card-title {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}


.taller-card .card-body {
    margin-bottom: 5px;
}

.taller-card .card-text {
    font-size: 1rem;
    color: #555;

}

/* Estilos para el acordeón dentro de la tarjeta */
.taller-card .accordion {
    width: 100%; /* Ocupa todo el ancho de la tarjeta */
    background: transparent;
    border: none;
}

.taller-card .accordion-item {
    border: none; 
    background: transparent;
}

.taller-card .accordion-button {
    background-color: #e9ecef;
    border-radius: 10px;
    color: #333;
    font-weight: bold;
    border: none;
    box-shadow: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.taller-card .accordion-button:not(.collapsed) {
    background-color: #dbd8d6; /* Fondo cuando el acordeón está abierto */
}

.taller-card .accordion-button:focus {
    box-shadow: none;
}

.taller-card .accordion-collapse {
    margin-top: 10px;
    border: none;
    background: transparent;
}

/* Ajuste de padding en dispositivos móviles */
@media (max-width: 576px) {
    .taller-card {
        padding: 10px;
    }

    .taller-card .card-img {
        height: 200px;
    }
}
