/* Estilos específicos para las tarjetas de eventos */
.card-event {
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  border-width: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-event:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-event .card-title {
  font-weight: bold;
  margin-top: 15px;
  color: #2c3e50;
}

.card-event .card-img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-event .card-body {
  padding: 20px;
}

.card-event .stretched-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


/* Posición del Badge */
.card-event .badge-position {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3; /* Para asegurarse de que esté sobre la imagen */
  font-size: 0.85rem; /* Tamaño del badge */
  padding: 5px 10px;
  border-radius: 10px;
}


