/* Estilos específicos para imágenes en el template "Sobre Nosotros" */

/* Imagen grande con ajuste completo */
.about-us-img1 {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

/* Imagen circular y más pequeña */
.about-us-img2 {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

/* Imagen mediana con borde redondeado */
.about-us-img3 {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/* Imagen completa para secciones anchas */
.about-us-img4 {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 10px;
}


/* Estilos para la imagen del detalle del evento */
.event-image {
    width: 100%; /* Asegura que ocupe el ancho completo del contenedor */
    max-height: 500px; /* Limita la altura máxima */
    object-fit: cover; /* Ajusta la imagen para que no se distorsione */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-bottom: 20px; /* Espaciado debajo de la imagen */
}

/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 576px) {
    .event-image {
        max-height: 300px; /* Reduce la altura máxima en pantallas pequeñas */
    }
}