/* Estilos de la tabla */
.table thead {
    background-color: #343a40;
    color: #fff;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilo adicional para la tabla */
.table th,
.table td {
    vertical-align: middle; /* Alinear contenido verticalmente */
}
