<!-- templates/staffUser/students/student_update.html -->
{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Editar Estudiante{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Editar Estudiante</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success w-100">Guardar</button>
                <a href="{% url 'student_list' %}" class="btn btn-secondary w-100 mt-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
