/* M치rgenes en pantallas peque침as */
@media (max-width: 576px) {
    .container-fluid,
    .container-fluid > .row {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    /* Mantener margen sutil en las tarjetas de eventos */
    .card-event {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  
  /* Estilos para tarjetas de eventos */
  .card-event {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 500px;
  }
  
  /* Imagen y badge en la tarjeta de evento */
  .card-event .image-container {
    position: relative;
  }
  
  .card-event .card-img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Posici칩n del badge */
  .badge-position {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
  
  /* Posici칩n de botones */
  .card-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
  }
  