
/* About us section */

/* Imágenes de ancho completo */
.full-width-image {
    width: 100%;
    max-height: 500px; /* Ajusta según lo necesites */
    object-fit: cover;
}

/* Imágenes redondas */
.rounded-image {
    width: 250px; /* Ajusta el tamaño fijo para imágenes redondas */
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

/* Imágenes de tamaño estándar */
.standard-image {
    max-width: 100%;
    max-height: 400px; /* Limita la altura */
    object-fit: contain;
}
