/* home.css */

/* Estilos específicos para tarjetas de eventos en el home */
.card-event-home {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    color: inherit; /* Mantén el color original del texto */
}

.card-event-home:hover {
    transform: translateY(-10px); /* Eleva ligeramente la tarjeta al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el ratón */
    
}

.a-event-home {
    color: #000000; /* Color específico para enlaces en el home */
    text-decoration: none; /* Quita subrayado a enlaces en el home */
}