<!-- templates/navbar/navbarStaff.html -->
<ul class="navbar-nav me-auto">
  <li class="nav-item">
    <a class="nav-link {% if "home" in request.path %}active{% endif %}" href="{% url 'home' %}">
      <i class="fas fa-home"></i> Inicio
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if "nosotros" in request.path %}active{% endif %}" href="{% url 'about_us' %}">
      <i class="fa-solid fa-face-grin-beam"></i> Sobre Nosotros
    </a>
  </li>
  
  <!-- Talleres -->
  <li class="nav-item">
    <a class="nav-link {% if "talleres" in request.path %}active{% endif %}" href="{% url 'workshop_list' %}">
      <i class="fa-solid fa-paint-brush fa-lg"></i> Talleres
    </a>
  </li>

  <!-- Eventos -->
  <li class="nav-item">
    <a class="nav-link {% if "eventos" in request.path and "locaciones" not in request.path %}active{% endif %}" href="{% url 'events' %}">
      <i class="fa-solid fa-calendar-days"></i> Eventos
    </a>
  </li>

  <!-- Locaciones -->
  <li class="nav-item">
    <a class="nav-link {% if "locaciones" in request.path %}active{% endif %}" href="{% url 'location_list' %}">
      <i class="fa-solid fa-school"></i> Locaciones
    </a>
  </li>
</ul>
