{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Crear Taller{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Crear Taller</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{% url 'workshop_list' %}" class="btn btn-secondary mt-2">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
