{% extends 'base.html' %}
{% load static %}

{% block title %}Talleres Grupales{% endblock %}

{% block content %}
<div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="flex-grow-1 text-center m-0">Tallere Grupales</h2>
            {% if request.user.is_staff %}
            <a href="{% url 'workshop_create' %}" class="btn btn-success ms-3">
                <i class="fa-solid fa-plus"></i> Agregar Taller
            </a>
            {% endif %}
        </div>
        <div class="row justify-content-center">
        {% if talleres %}
            {% for taller in talleres %}
            <div class="col-md-4 mb-4">
                <div class="card taller-card">
                    {% if taller.image %}
                    <img src="{{ taller.image.url }}" class="card-img" alt="{{ taller.name }}">
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Imagen no disponible</text>
                    </svg>
                    {% endif %}
                    <div class="card-body d-flex flex-column text-center">
                        {% if request.user.is_staff or request.user.is_superuser %}
                        <div class="card-buttons">
                            <a href="{% url 'workshop_update' taller.id %}" class="btn btn-edit me-1" title="Editar Evento">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="{% url 'workshop_delete' taller.id %}" class="btn btn-delete" title="Eliminar Evento">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                        {% endif %}

                        <h5 class="card-title">{{ taller.name }}</h5>
                        <div class="accordion" id="accordion{{ taller.name }}">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="heading{{ taller.name }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ taller.name }}" aria-expanded="false" aria-controls="collapse{{ taller.name }}">
                                  Mas información
                                </button>
                              </h2>
                              <div id="collapse{{ taller.name }}" class="accordion-collapse collapse" aria-labelledby="heading{{ taller.name }}" data-bs-parent="#accordion{{ taller.name }}">
                                <div class="accordion-body">
                                  {{ taller.description }}
                                </div>
                              </div>
                            </div>
                          </div>
                        <p class="card-text">{{ taller.date }}</p>
                        <p class="card-text">{{ taller.day }}</p>
                        <p class="card-text">De {{ taller.init_time }} a {{ taller.end_time }} hs.</p>
                        
                        {% if taller.location %}
                            <a href="{% url 'location_detail' taller.location.id %}" class="card-text">
                                <strong class="text-muted">{{ taller.location }}</strong>
                            </a>
                        {% else %}
                            <p class="card-text text-muted"><strong>Ubicación no disponible</strong></p>
                        {% endif %}

                    </div>
                    <!-- Botón de más información (WhatsApp) -->
                    <a href="https://wa.me/{{ wp_phone_number }}?text=Hola, quisiera información sobre el taller {{ taller.name }}" target="_blank" class="btn btn-success">
                        <i class="fab fa-whatsapp"></i> Más Información
                    </a>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="alert alert-warning mt-4 mb-4 text-center" role="alert">
            No hay talleres registrados.
            {% if user.is_staff %}
            <a href="{% url 'workshop_create' %}" class="btn btn-success btn-sm float-end" title="Agregar Taller">
              <i class="fa-solid fa-plus"></i> Agregar
            </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}