<!-- templates/payments/payment_form.html -->
{% extends "base.html" %}

{% block title %}Registrar Pago{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Registrar Pago</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.amount.id_for_label }}" class="form-label">{{ form.amount.label }}</label>
                    {{ form.amount }}
                </div>
                <button type="submit" class="btn btn-success w-100">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
