<!-- templates/payments/payments_dashboard.html -->
{% extends "base.html" %}

{% block title %}Dashboard de Pagos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Dashboard de Pagos</h2>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-wallet"></i> Pagos
                </div>
                <div class="card-body">
                    <ul class="list-group mb-3">
                        {% for payment in payments %}
                        <li class="list-group-item">
                            {{ payment.date }} - {{ payment.get_payment_type_display }}: {{ payment.amount }}
                            <span class="badge bg-primary">{{ payment.details }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="d-grid gap-2">
                        <a href="{% url 'payment_workshop' %}" class="btn btn-primary">
                            <i class="fas fa-chalkboard-teacher"></i> Aporte para Talleres
                        </a>
                        <a href="{% url 'payment_hat' %}" class="btn btn-secondary">
                            <i class="fas fa-donate"></i> Gorra
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-calendar-alt"></i> Suscripciones
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for subscription in subscriptions %}
                        <li class="list-group-item">
                            {{ subscription.get_subscription_type_display }} - Hasta: {{ subscription.end_date }}
                            {% if subscription.active %}
                            <span class="badge bg-success">Activa</span>
                            {% else %}
                            <span class="badge bg-danger">Vencida</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
