/* Estilos para el contenedor de video y el texto de bienvenida */
.video-container iframe {
    width: 100%; /* Asegura que el iframe del video sea responsivo */
    max-width: 560px; /* Ancho máximo del iframe */
    height: 315px; /* Altura del iframe */
    margin: auto; /* Centra el iframe horizontalmente */
  }
  
  @media (min-width: 992px) {
    .video-container {
      text-align: center; /* Centra el contenido del contenedor de video */
    }
  
    .video-container iframe {
      max-width: 100%; /* Asegura que el iframe del video sea responsivo */
      height: auto; /* Ajusta automáticamente la altura del iframe */
    }
  }
  
  @media (max-width: 991px) {
    .video-container,
    .text-container {
      margin-bottom: 20px; /* Añade un margen inferior al contenedor de video y texto */
    }
  }
  
  .video-container iframe {
    max-height: 250px; /* Ajusta la altura del video para que coincida con el texto */
  }
  
  .text-center h2, .text-center p {
    text-align: center; /* Centra el texto en los encabezados y párrafos */
  }
  