{% extends "base.html" %}
{% load static %}

{% block title %}Notificaciones{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Notificaciones</h2>
    <div class="list-group">
        {% for notification in notifications %}
        <div class="list-group-item {% if not notification.is_read %}list-group-item-info{% endif %}">
            <p class="mb-1">{{ notification.message }}</p>
            <small>{{ notification.created_at }}</small>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
