{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Detalle del Evento{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- Fila del Título Principal -->
    <div class="row">
        <div class="col text-center">
            <h1>{{ object.name }}</h1>
        </div>
    </div>

    <!-- Primera fila: Imagen y Descripción -->
    <div class="row flex-column-reverse flex-md-row align-items-center text-center mt-4">
        <div class="col-md-6 d-flex justify-content-center mb-4">
            {% if object.image %}
                <img src="{{ object.image.url }}" class="img-fluid event-image" alt="{{ object.name }}">
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                </svg>
            {% endif %}
        </div>
        
        <div class="col-md-6 d-flex flex-column justify-content-center text-center mb-4 h-100">
            <p>{{ object.description }}</p>
            <p><strong>Fecha:</strong> {{ object.date }}</p>
            <p><strong>Hora:</strong> {{ object.time }}</p>
            <p><strong>Ubicación:</strong> <a href="{% url 'location_detail' object.location.id %}" target="_blank" rel="noopener noreferrer">{{ object.location.name }}</a></p>
        </div>
    </div>

    <!-- Segunda fila: Botón de Reserva -->
    <div class="row justify-content-center mt-4">
        {% if object.date >= today %}

            {% if object.reservation_link %}
            <div class="col-md-4 text-center">
                <a href="{{ object.reservation_link }}" target="_blank" rel="noopener noreferrer" class="btn-reserva w-100">Reservá tu lugar</a>
            </div>
            {% endif %}

            <div class="row justify-content-center mt-5">
                <!-- Título Detalles de la Ubicación -->
                <div class="col-12 text-center">
                    <h3 class="mb-4">Detalles de la Ubicación</h3>
                </div>
                
                <div class="col-md-6 d-flex flex-column justify-content-center text-center mb-4">
                    <p><strong>Dirección:</strong> {{ object.location.address }}</p>
                    <p><strong>Ciudad:</strong> {{ object.location.city }}</p>
                    <p><strong>Estado:</strong> {{ object.location.state }}</p>
                    <p><strong>Teléfono:</strong> {{ object.location.phone }}</p>
                    <p><strong>Email:</strong> {{ object.location.email }}</p>
                    <p><strong>Sitio Web:</strong> <a href="{{ object.location.website }}" target="_blank" rel="noopener noreferrer">{{ object.location.website }}</a></p>
                </div>
                
                <div class="col-md-6 d-flex flex-column justify-content-center text-center mb-4">
                    {% if object.location.iframe %}
                        <div class="embed-responsive embed-responsive-16by9">
                            {{ object.location.iframe|safe }}
                        </div>
                    {% endif %}
                </div>
            </div>


        {% else %}
            <div class="col-md-4 text-center">
                <a href="{% url 'under_construction' %}" class="btn btn-success w-100">Ir a la galería</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
