{% extends 'base.html' %}
{% load static %}

{% block title %}Eventos{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
  <h2 class="text-center mb-4">Eventos</h2>
  <div class="row">
    <div class="card-header d-flex justify-content-between align-items-center mt-4 mb-4">
      {% if request.user.is_staff %}
      <a href="{% url 'event_create' %}" class="btn btn-success btn-sm" title="Agregar Evento">
        <i class="fa-solid fa-calendar-plus"></i> Agregar Evento
      </a>
      <a href="{% url 'location_create' %}" class="btn btn-warning btn-sm" title="Agregar Locación">
        <i class="fa-solid fa-calendar-plus"></i> Agregar Locación
      </a>
      {% endif %}
    </div>

    {% if events %}
    <div class="row mb-4">
      {% for event in events %}
        <div class="col-md-4 mb-4">
          <div class="card-event border {% if event.date < today %}border-danger text-muted{% else %}border-success{% endif %}">
            
            <!-- Badge para el próximo evento -->
            {% if event.date >= today %}
              <span class="badge bg-warning text-dark" style="position: absolute; top: 10px; right: 10px;">PRÓXIMO</span>
            {% endif %}

            <!-- Imagen del evento -->
            {% if event.image %}
              <img src="{{ event.image.url }}" class="card-img" alt="{{ event.name }}">
            {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Imagen no disponible</text>
              </svg>
            {% endif %}

            <!-- Detalles del evento -->
            <div class="card-body">
              <h5 class="card-title">{{ event.name }}</h5>
              <p><strong>Fecha:</strong> {{ event.date }}</p>
              <p><strong>Hora:</strong> {{ event.time }}</p>
              <p><strong>Ubicación:</strong> {{ event.location.name }}</p>
            </div>

            <!-- Botones de actualizar y eliminar solo visibles para admins -->
            {% if request.user.is_staff or request.user.is_superuser %}
            <div class="card-footer d-flex justify-content-between">
              <a href="{% url 'event_update' event.id %}" class="btn btn-warning btn-sm icon-button" title="Editar Evento">
                <i class="fa-solid fa-pen"></i>
              </a>
              <form action="{% url 'event_delete' event.id %}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este evento?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm icon-button" title="Eliminar Evento">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </form>
            </div>
            {% endif %}

            <a href="{% url 'event_detail' event.id %}" class="stretched-link"></a>
          </div>
        </div>
      {% endfor %}
    </div>

    {% else %}
    <div class="alert alert-warning mt-4 mb-4" role="alert">
      No hay eventos registrados.

      {% if request.user.is_staff %}
      <a href="{% url 'event_create' %}" class="btn btn-success btn-sm float-end" title="Agregar Evento">
        <i class="fa-solid fa-calendar-plus"></i> Agregar
      </a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
