{% extends 'base.html' %}
{% load static %}

{% block title %}Eventos{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Eventos</h2>

  <div class="row justify-content-center">
    {% if events %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4">
      {% for event in events %}
        <div class="col-md-4 mb-4">
          <div class="card-event border {% if event.date < today %}border-danger text-muted{% else %}border-success{% endif %}">
            
            <!-- Contenedor de Imagen y Badge -->
            <div class="image-container position-relative">
              <!-- Badge para el evento próximo -->
              {% if event.id == proximo_evento_id %}
                  <span class="badge bg-warning text-dark badge-position">PRÓXIMO</span>
              {% endif %}

              <!-- Botones de actualizar y eliminar solo visibles para admins -->
              {% if request.user.is_staff or request.user.is_superuser %}
              <div class="card-buttons">
                <a href="{% url 'event_update' event.id %}" class="btn-edit-staff me-1" title="Editar Evento">
                  <i class="fa-solid fa-edit"></i>
                </a>
                <a href="{% url 'event_delete' event.id %}" class="btn-delete-staff" title="Eliminar Evento">
                  <i class="fa-solid fa-trash"></i>
                </a>
              </div>
              {% endif %}

              {% if event.image %}
                  <img src="{{ event.image.url }}" class="card-img" alt="{{ event.name }}">
              {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                      <rect width="100%" height="100%" fill="#868e96"></rect>
                      <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Imagen no disponible</text>
                  </svg>
              {% endif %}
            </div>

            <!-- Detalles del evento -->
            <div class="card-body text-center">
              <h5 class="card-title">{{ event.name }}</h5>
              <p><strong>Fecha:</strong> {{ event.date }}</p>
              <p><strong>Hora:</strong> {{ event.time }}</p>
              <p><strong>Ubicación:</strong> {{ event.location.name }}</p>
            </div>

            <!-- Stretched link para toda la tarjeta -->
            <a href="{% url 'event_detail' event.id %}" class="stretched-link"></a>
          </div>
        </div>
      {% endfor %}
    </div>

    {% else %}
    <div class="alert alert-warning mt-4 mb-4 text-center" role="alert">
      No hay eventos registrados.

      {% if request.user.is_staff %}
      <a href="{% url 'event_create' %}" class="btn btn-success btn-sm float-end" title="Agregar Evento">
        <i class="fa-solid fa-calendar-plus"></i> Agregar
      </a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
