{% extends "base.html" %}
{% load static %}

{% block title %}Ubicaciones{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Ubicaciones</h2>
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'location_create' %}" class="btn btn-success">Agregar Ubicación</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Localidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td>{{ location.name }}</td>
                    <td>{{ location.address }}</td>
                    <td>{{ location.city }}</td>
                    <td>{{ location.state }}</td>
                    <td>
                        <a href="{% url 'location_detail' location.id %}" class="btn btn-info btn-sm">Detalles</a>
                        <!-- Agrega más botones de acciones si es necesario -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
