{% extends "base.html" %}
{% load static %}

{% block title %}Locaciones{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="flex-grow-1 text-center m-0">Locaciones</h2>
        {% if request.user.is_staff %}
        <a href="{% url 'location_create' %}" class="btn btn-success ms-3">
            <i class="fa-solid fa-plus"></i> Agregar Locación
        </a>
        {% endif %}
    </div>    
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Localidad</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td>{{ location.name }}</td>
                    <td>{{ location.address }}</td>
                    <td>{{ location.city }}</td>
                    <td>{{ location.state }}</td>
                    <td class="action-buttons text-center">
                        <a href="{% url 'location_detail' location.id %}" class="btn btn-view" title="Ver">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        <a href="{% url 'location_update' location.id %}" class="btn btn-edit" title="Editar">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a href="{% url 'location_delete' location.id %}" class="btn btn-delete" title="Eliminar">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
